.header {
    font-size: 4rem;
    font-style: italic;
    padding: 2rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    /** background: url('../bokeh.jpg') no-repeat center; */
}

.body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2rem;
    border: none;
    min-height: calc(100vh - 227px);
}

.inner {
    background-color: hsla(0,0%,100%,.35);
    padding: 1rem;
    border-radius: .5rem;
}

.footer {
    position: relative;
    border-top-width: 1px;
    border-top-style: solid;
    box-sizing: border-box;
    text-align:right;
    padding: 2rem;
}

.footer select {
    background-color: #fff;
    font-size: 1rem;
    margin-left: .25rem;
}

.logo {
    height: 3rem;
    position: absolute;
    left: 20px;
    top: 20px;
    pointer-events: none;
}

@media (max-width: 480px) {
    .header {
      padding: 1rem;  
      font-size: 2rem;
    }
    .body {
      padding: 1rem;
      min-height: calc(100vh - 157px);
    }
    .inner {
      padding: .5rem;
    }
    .footer {
      padding: 2rem 1rem;
    }
    .logo {
      top: 17px;
      left: 0;
    }
}  

@media (prefers-reduced-motion:no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}